.section {
    min-height: 130dvh;
    height: auto;
    width: 100%;
    position: relative;
    overflow: hidden;

    --subir-conteudo: 100px;
}

.imageContainer {
    position: absolute;
    inset: 0;
}

.image {
    object-fit: cover;
    object-position: center center;
}


/* =========================================================
   TEXTO
========================================================= */

.content {
    position: absolute;
    top: calc(69.5% - 194px - var(--subir-conteudo));
    left: 7%;

    margin-left: 0;
    padding-top: 0;

    z-index: 2;

    text-align: left;
    max-width: 500px;
}

.subtitle {
    color: rgb(36, 53, 74);

    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;

    position: relative;
    top: -67px;
}

.titleOne {
    font-size: 90px;
    letter-spacing: 2px;

    display: flex;
    flex-direction: column;

    line-height: 1;
    font-style: italic;

    color: rgb(36, 53, 74);

    position: relative;
    top: -26px;

    font-weight: 300;
}

.text {
    display: flex;
    flex-direction: column;

    line-height: 1.7;
    font-size: 14px;

    margin-top: 15px;

    letter-spacing: 1.5px;

    color: rgb(36, 53, 74);
}


/* =========================================================
   GALERIA
========================================================= */

.imageSection {
    position: absolute;

    top: calc(71.5% + 76px - var(--subir-conteudo));
    right: 8%;

    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageArray {
    display: flex;
    gap: 30px;
}

.imageCard {
    position: relative;

    width: 320px;
    height: 534px;

    overflow: hidden;
}

.galleryImage {
    object-fit: cover;
    object-position: center top;
}


/* =========================================================
   TIMELINE
========================================================= */

.timelineContainer {
    margin-top: 40px;

    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 60px;

    position: relative;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    white-space: nowrap;
}

.data {
    position: relative;

    font-size: 14px;
    letter-spacing: 2px;

    top: 12px;

    margin-bottom: 8px;

    font-weight: 400;

    color: rgb(36, 53, 74);
}

.momento {
    margin-top: 10px;

    font-size: 26px;
    font-weight: 300;

    color: rgb(36, 53, 74);
}

.line {
    position: absolute;

    top: -10px;
    left: 30px;
    right: 30px;

    height: 2px;

    background: rgba(184, 145, 98, 0.35);

    z-index: 1;
}

.circle {
    position: relative;

    width: 10px;
    height: 10px;

    bottom: 40px;

    border-radius: 50%;

    background: rgb(185, 154, 86);

    z-index: 2;
}

.itemNamoro {
    transform: translateX(40px);
}

.itemCasamento {
    transform: translateX(-40px);
}


/* =========================================================
   CONFIRMAR PRESENÇA
   Agora é filho direto de .layout
========================================================= */

.divPresenca {
    position: absolute;

    left: 7%;
    bottom: 6%;

    display: flex;
    justify-content: flex-start;

    z-index: 3;
}

.presenca {
    background: transparent;

    text-decoration: none;

    border: 1px solid rgb(36, 53, 74);

    padding: 14px 50px;

    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;

    color: rgb(36, 53, 74);

    cursor: pointer;
}

.presenca:hover {
    color: rgba(36, 53, 74, 0.5);
    border: 1px solid rgba(36, 53, 74, 0.5);
}


/* =========================================================
   MAX-WIDTH: 1680PX
========================================================= */

@media (max-width: 1680px) {

    .section {
        min-height: 110dvh;

    }

    .content {
        left: 5%;
        max-width: 380px;
    }

    .subtitle {
        font-size: 15px;
        top: -50px;
    }

    .titleOne {
        font-size: 68px;
        line-height: 1;
        top: -20px;
    }

    .text {
        font-size: 12px;
        line-height: 1.6;
        letter-spacing: 1px;
    }

    .imageSection {
        right: 5%;
        transform: translateY(-58%);
    }

    .imageArray {
        gap: 18px;
    }

    .imageCard {
        width: 220px;
        height: 370px;
    }

    .timelineContainer {
        margin-top: 30px;
        column-gap: 25px;
    }

    .data {
        font-size: 10px;
        letter-spacing: 1.2px;
    }

    .momento {
        font-size: 21px;
    }

    /* Mesmo alinhamento esquerdo do .content */
    .divPresenca {
        left: 5%;
        bottom: 12%;

        margin-bottom: 0px;
    }

    .presenca {
        padding: 12px 30px;
        font-size: 12px;
    }

    .circle{
        bottom: 36px;
    }
}


/* =========================================================
   MAX-WIDTH: 800PX
   O LAYOUT PASSA PARA FLUXO VERTICAL
========================================================= */

@media (max-width: 800px) {

    .section {
        width: 100%;

        min-height: auto;
        height: auto;

        overflow: hidden;

        padding: 80px 0;

        box-sizing: border-box;
    }

    .imageContainer {
        position: absolute;
        inset: 0;
    }

    .image {
        object-fit: cover;
        object-position: center center;
    }

    .layout {
        position: relative;

        z-index: 2;

        width: 100%;

        display: flex;
        flex-direction: column;

        padding: 200px 7% 0;

        box-sizing: border-box;
    }


    /* TEXTO */

    .content {
        position: relative;
        order: 1;
        top: auto;
        left: auto;

        width: 100%;
        max-width: none;

        margin: 0 0 60px;
        padding: 0;

        text-align: left;
    }

    .subtitle {
        position: relative;
        top: auto;

        margin: 0 0 25px;

        font-size: 14px;
        letter-spacing: 2px;
    }

    .titleOne {
        position: relative;
        top: auto;

        margin: 0 0 30px;

        font-size: 62px;
        line-height: 0.95;
    }

    .text {
        margin: 0;

        font-size: 12px;
        line-height: 1.7;
        letter-spacing: 1px;
    }


    /* GALERIA */

    .imageSection {
        position: relative;
        order: 2;
        top: auto;
        right: auto;

        width: 100%;

        transform: none;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imageArray {
        width: 100%;

        display: grid;
        grid-template-columns: repeat(3, 1fr);

        gap: 12px;
    }

    .imageCard {
        width: 100%;

        height: 42vw;
        max-height: 340px;
    }


    /* TIMELINE */

    .timelineContainer {
        width: 100%;

        margin-top: 45px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);

        column-gap: 10px;
    }

    .data {
        top: 10px;

        font-size: 9px;
        letter-spacing: 0.8px;

        white-space: normal;
    }

    .momento {
        margin-top: 8px;
        font-size: 19px;
    }

    .circle {
        width: 8px;
        height: 8px;

        bottom: 28px;
    }

    .line {
        top: -6px;

        left: 0;
        right: 0;

        height: 2px;
    }


    /* CONFIRMAR PRESENÇA
       Agora volta para o fluxo normal da .layout */

    .divPresenca {
        order: 3;

        position: relative;
        left: auto;
        bottom: auto;

        width: 100%;

        margin-top: 35px;
        margin-bottom: -20px;

        display: flex;
        justify-content: center;

        transform: none;
        z-index: 3;
    }

    .presenca {
        padding: 12px 30px;

        font-size: 11px;
        letter-spacing: 1.5px;
    }
}


/* =========================================================
   MAX-WIDTH: 500PX
========================================================= */

@media (max-width: 500px) {

    .section {
        padding: 60px 0;
    }

    .layout {
        padding: 165px 6% 0;
    }


    /* TEXTO */

    .content {
        margin-bottom: 45px;
    }

    .subtitle {
        margin-bottom: 20px;

        font-size: 11px;
        letter-spacing: 1.5px;
    }

    .titleOne {
        margin-bottom: 25px;

        font-size: 48px;
        letter-spacing: 1px;
        line-height: 0.95;
    }

    .text {
        font-size: 10px;
        line-height: 1.7;
        letter-spacing: 0.7px;
    }


    /* FOTOS */

    .imageArray {
        gap: 7px;
    }

    .imageCard {
        height: 48vw;
    }


    /* TIMELINE */

    .timelineContainer {
        margin-top: 40px;
        column-gap: 4px;
    }

    .data {
        top: 8px;

        font-size: 7px;
        letter-spacing: 0.4px;
        line-height: 1.3;
    }

    .momento {
        font-size: 15px;
    }

    .circle {
        width: 7px;
        height: 7px;

        bottom: 25px;
    }

    .line {
        top: -5px;

        left: 0;
        right: 0;

        height: 1px;
    }


    /* BOTÃO */

    .divPresenca {
        order: 3;

        position: relative;
        left: auto;
        bottom: auto;

        width: 100%;

        margin-top: 30px;
        margin-bottom: 0px;

        display: flex;
        justify-content: center;

        transform: none;
    }

    .presenca {
        width: auto;
        max-width: none;

        padding: 12px 30px;

        box-sizing: border-box;
        text-align: center;

        font-size: 10px;
        letter-spacing: 1.2px;
    }
}


@media (max-height: 930px) {
    .section {
        min-height: 120dvh;
    }    

    .divPresenca {
        margin-bottom: -30px;

    }
}