.conteinerContador {
    position: fixed;
    bottom: 56px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0;
    font-weight: 300;
    color: rgb(250, 241, 225);
    letter-spacing: 3px;
    justify-content: center; /* Centraliza os blocos horizontalmente */
    z-index: 2; /* Garante que fica por cima de qualquer outro conteúdo do site */
    font-family: 'Times New Roman';
    text-decoration-style: initial;
}

.bloco {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.numero {
    font-size: 1.2rem;
    margin: 0;
}

.texto {
    font-size: 0.55rem;
    margin: 0;
}

@media (max-height: 700px) {
    
}

@media (max-height: 480px) {
    .conteinerContador {
        z-index: 0;
        visibility: hidden;
    }
}

@media (max-width: 470px) {
    .conteinerContador {
        gap: 40px;
    }

    .numero {
        font-size: 1.3rem;
    }

    .texto {
        font-size: 0.5rem;
    }
}

@media (max-width: 350px) {
    .conteinerContador {
        gap: 20px;
    }
}