.section {
    width: 100%;
    min-height: 140dvh;
    display: grid;
    grid-template-rows: 28dvh 56dvh 56dvh;
    overflow: hidden;
}

.headerSection {
    position: relative;
    width: 100%;
    height: 28dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.headerImage {
    object-fit: cover;
    object-position: center 20%;
    z-index: 0;
}

.headerOverlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: 1;
}

.headerContent {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(3dvh);
    text-align: center;
}

.headerTitle {
    margin: 0;
    color: rgb(224, 215, 205);
    font-size: 48px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 2px;
    font-style: italic;
}

.headerLine {
    width: 60px;
    height: 1px;
    margin: 18px 0;
    background-color: rgb(224, 215, 205);
}

.headerText {
    margin: 0;
    color: rgb(224, 215, 205);
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1px;
}

.locationSection {
    width: 100%;
    height: 56dvh;
    display: grid;
    background-color: rgb(224, 215, 205);
}


.churchSection {
    grid-template-columns: 40% 60%;
}

.hallSection {
    grid-template-columns: 60% 40%;
}

.locationInfoWrapperChurch {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 50px 0 50px 8%;
    position: relative;
}

.locationInfoChurch {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transform: translateX(15%);
}

.locationInfoHall {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 50px 8%;
}

.leafIcon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-bottom: 15px;
}

.locationSubtitle {
    margin: 0 0 clamp(20px, 1.5dvh, 20px);
    color: rgb(36, 53, 74);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 3px;
}

.locationTitle {
    margin: 0;
    color: rgb(36, 53, 74);
    font-size: 48px;
    font-weight: 300;
    line-height: 1;
}

.locationLine {
    width: 40px;
    height: 1px;
    margin: clamp(30px, 3.5dvh, 30px) 0
            clamp(30px, 3.5dvh, 30px);
    /* clamp(MÍNIMO, IDEAL, MÁXIMO)
    30px é o espaçamento pra cima e os outros 30px é o espaçamento de baixo */
    background-color: rgb(36, 53, 74);
}

.detail {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.detailIcon {
    width: 28px;
    height: 28px;
    object-fit: contain;
    margin-right: 14px;
}

.detailText {
    display: flex;
    align-items: center;
}

.detailLabel {
    color: rgb(36, 53, 74);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.locationLink {
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding: 12px 25px;
    border: 1px solid rgb(36, 53, 74);
    color: rgb(36, 53, 74);
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.linkIcon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-right: 10px;
}

.locationLink:hover {
    color: rgba(36, 53, 74, 0.5);
    border-color: rgba(36, 53, 74, 0.5);
}

.locationLink:hover .linkIcon {
    opacity: 0.5;
}

.mapContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px 6%;
    background-color: rgb(224, 215, 205);
}

.map {
    display: block;
    width: 100%;
    height: 100%;
    border: 6px solid rgb(247, 245, 243);
}

@media (max-height: 810px) {
   
    .mapContainer {
        padding: 60px 10%;
    }

    .map {
        width: 100%;
        height: 100%;
    }

    .locationSubtitle {
        font-size: 13px;
        letter-spacing: 2.5px;
    }

    .locationTitle {
        font-size: 30px;
    }

    .detailLabel {
        font-size: 12px;
        letter-spacing: 1.3px;
    }

    .locationLink {
        font-size: 11px;
        padding: 10px 20px;
    }

    .detailIcon {
        width: 25px;
        height: 25px;
        margin-right: 12px;
    }

    .linkIcon {
        width: 21px;
        height: 21px;
        margin-right: 8px;
    }
}

@media (max-height: 670px) {
    
    .headerText {
        font-size: 16px;
    }

    .headerTitle {
        font-size: 38px;
    }

    .headerText {
        font-size: 18px;
    }

    .headerLine {
        margin: 14px 0;
    }

    .leafIcon {
        width: 26px;
        height: 26px;
        margin-bottom: 10px;
    }

    .locationSubtitle {
        font-size: 13px;
        margin-bottom: 15px;
    }

    .locationTitle {
        font-size: 40px;
    }

    .locationLine {
        margin: 22px 0;
    }

    .detail {
        margin-bottom: 12px;
    }

    .detailIcon {
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }

    .detailLabel {
        font-size: 12px;
        letter-spacing: 1.2px;
    }

    .locationLink {
        margin-top: 10px;
        padding: 9px 18px;
        font-size: 10px;
    }

    .linkIcon {
        width: 20px;
        height: 20px;
        margin-right: 7px;
    }

    .mapContainer {
        padding: 55px 10%;
    }

    .map {
        border-width: 5px;
    }
}

@media (max-width: 1280px)  {

    .mapContainer {
        padding: 60px 10%;
    }

    .map {
        width: 100%;
        height: 100%;
    }

    .locationSubtitle {
        font-size: 13px;
        letter-spacing: 2.5px;
    }

    .locationTitle {
        font-size: 30px;
    }

    .detailLabel {
        font-size: 12px;
        letter-spacing: 1.3px;
    }

    .locationLink {
        font-size: 11px;
        padding: 10px 20px;
    }

    .detailIcon {
        width: 25px;
        height: 25px;
        margin-right: 12px;
    }

    .linkIcon {
        width: 21px;
        height: 21px;
        margin-right: 8px;
    }
}

@media (max-width: 800px) {
    .leafIcon{
        visibility: hidden;
    }
}

@media (max-width: 435px){

    .section {
        display: block;
        min-height: auto;
        overflow: visible;
    }

    .headerSection {
        height: 28dvh;
    }

    .headerTitle {
        font-size: 38px;
    }

    .headerText {
        font-size: 16px;
    }

    .locationSection {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .churchSection {
        position: relative;
        padding-top: 90px;
    }

    .locationInfoWrapperChurch {
        order: 1;
        width: 100%;
        height: auto;
        padding: 40px 8%;
        box-sizing: border-box;
    }

    .locationInfoChurch {
        width: 100%;
        transform: none;
        align-items: flex-start;
    }

    .hallSection {
        display: flex;
        flex-direction: column;
    }

    .hallSection .locationInfoHall {
        order: 1;
        width: 100%;
        height: auto;
        padding: 40px 8%;
        box-sizing: border-box;
    }

    .leafIcon {
        display: none;
    }

    .locationSubtitle {
        font-size: 13px;
        letter-spacing: 2px;
        margin-bottom: 15px;
    }

    .locationTitle {
        font-size: 36px;
    }

    .locationLine {
        margin: 20px 0;
    }

    .detail {
        margin-bottom: 12px;
    }

    .detailIcon {
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }

    .detailLabel {
        font-size: 11px;
        letter-spacing: 1px;
    }

    .locationLink {
        margin-top: 10px;
        padding: 9px 18px;
        font-size: 10px;
    }

    .linkIcon {
        width: 20px;
        height: 20px;
        margin-right: 7px;
    }

    .mapContainer {
        order: 2;
        width: 100%;
        height: 250px;
        padding: 0px 8% 20px 8%;
        box-sizing: border-box;
    }

    .map {
        display: block;
        width: 100%;
        height: 100%;
        border-width: 5px;
    }
}

@media (max-width: 435px) {
    .churchSection {
        position: relative;
        padding-top: 0;
    }

    .localNavigation {
        position: relative !important;
        top: auto !important;
        left: auto !important;
        transform: none !important;

        order: 0;

        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 20px;

        padding: 30px 0 20px 0;

        box-sizing: border-box;
    }

    .navigationItem {
        justify-content: center;
    }
}

@media (max-width: 375px) {

    .headerContent {
        transform: translateY(6dvh);
    }

    .headerTitle {
        font-size: 28px;
    }

    .headerText {
        font-size: 14px;
    }
}
