* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
}

body {
    min-width: 300px;
    overflow-x: hidden;
    overscroll-behavior-y: none;
}

.background {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100svh;
    overflow: hidden;
    z-index: -2;
}

.backgroundVideo {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

.videoOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.30);
    z-index: -1;
}

@media (max-width: 950px) {
    .backgroundVideo {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .backgroundVideo {
        object-position: 50% center;
    }
}