.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 26px 25px;
    z-index: 1000;
}

.navContent{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    position: absolute;
    left: 0;
    padding-top: 12px;
    width: 80px;
    height: 80px;
}

.logoImage{
    object-fit:contain;
}

.menu{
    display: flex;
    gap: 40px;
    list-style: none;
}

.menu li a{
    color: white;
    text-decoration: none;
    font-size: 11px;
    letter-spacing:2px;
    transition: opacity .3s;
}

.menu li a:hover{
    opacity: .7;
}

.menuToggle{
    display: none;
    position: fixed;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    color: rgb(250,241,225);
    font-size: 2rem;
    cursor: pointer;
    z-index: 2000;
}

.menuToggle:hover {
    opacity: .7;
}

@media(max-width: 950px){
    .menu{
        display: none;
    }

    .menuToggle{
        display: block;
    }

    .menu.active{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 35px;
        position: fixed;
        inset: 0;
        background: rgba(139, 131, 131, 0.9);
    }

    .navbar{
        padding-top: 36px;
    }
}
